
*
{
  margin:0;
  padding: 0;
}
:root
{
  --bodycolor:#57ff24;
}
body
{
  background-color: #000000;
  color: var(--bodycolor);
  font-family: 'Press Start 2P', cursive;
}

.container
{
  margin: 10px auto;
  width: 802px;
  height: auto;
}

.container h2
{
  padding-bottom: 5px;
  display: inline-block;
  margin-right: 10px;
}

.button
{
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}
.color1
{
  background-color: white;
}
.color2
{
  background-color:#08d9d6;
}
.color3
{
  background-color:#ff2e63;
}
.color4
{
  background-color: #57ff24;
}

.container h3
{
  display: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.1rem;
  animation:blinkingText -2s linear 1s infinite;
}

@keyframes blinkingText{
    0%{     color: var(--bodycolor);    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: var(--bodycolor);    }
}

.flex-container
{
  position: relative;
  margin-top: 10px;
  display: flex;
  width:200px;
  flex-direction: row;
  justify-content: space-around;
}
.game-message
{
  width: 400px;
  margin: 0 auto;
  display: none;
}
.game-message h1
{
  font-size: 40px;
}
.container label
{
  font-size:1.5rem;
}
footer
{
  position:fixed;
  bottom:0px;
  margin-left: 40%;
  margin-right: 40%;
  width: 400px;
}
footer h4 a
{
  text-decoration: none;
  color: var(--bodycolor);
  text-transform: uppercase;
  font-size: .9rem;
}

footer h4 a span
{
  -webkit-animation:colorchange 4s linear 0s infinite alternate;
}


@-webkit-keyframes colorchange
    {
      0% {
        color: #08d9d6;
      }
      35% {
        color: #ff2e63;
      }
      75% {
        color: white;
      }
      100% {
        color: #57ff24;
      }
    }
